<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>好农易</title>
	<link href="css1/bootstrap.min.css" rel="stylesheet"/>
	<link href="css1/style.css" rel="stylesheet"/>
</head>
<body>
		<div class="container cf" th:fragment="page-top-bar">
			<div class="phone">
				<a href="#" class="btnLink" id="qrBtn"> <i class="ico-phone"></i>手机版商城 <i class="arrowB"></i></a>
				<div class="qr" id="qrBox">
					<i class="dot"></i>
					<img src="images1/qr.jpg" alt=""/>
					<p class="mt5">扫描二维码<br/>安装安卓客户端</p>
				</div>
			</div>
			<p class="userInfo">您好， 
			<span th:if="${#strings.isEmpty(session.UVO.guestName)}">
			<a th:href="@{initGuestLogin}"><span class="button-t">登录</span></a></span>
			<span th:if="${not #strings.isEmpty(session.UVO.guestId)}">
			<a th:href="@{initEditGuest}"><span class="button-t" th:text="${session.UVO.guestId}">张三</span></a>
			&nbsp;&nbsp;
			<a th:href="@{/}" th:if="${not #strings.isEmpty(session.UVO.guestId)}"><span class="button-t">退出</span></a>
			</span>
			<span th:if="${ #strings.isEmpty(session.UVO.guestId)}">
			<i class="line">|</i><a th:href="initGuestRegister" class="link">注册</a></span>
			</p>
			</div>
</body>
</html>