<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>好农易商城</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="mobile/css/style.css" type="text/css"
	media="all" />
</head>
<body>
	<div class="wrap">
		<div class="header-bg">
			<div class="h-bg">
				<div class="total">
					<div class="header">
						<div class="box_header_user_menu">
							<div th:replace="mobile/userBar:: page-user-bar"></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="header-bot">
						<div th:replace="mobile/logo:: page-logo"></div>
						<nav class="clearfix"> <a href="#Menu">Menu<img
							class="menu" src="mobile/images/nav-icon.png" title="Menu" /></a>
						</nav>
					</div>
					<div class="header-bottom">
						<div class="banner-top">
							<div class="header_bottom_right_images">
								<form name="alipayForm" th:object="${alipayForm}" action="guestAlipaySubmit"
									method="post">
									<input type="hidden" name="outTradeNo" th:value="${alipayForm.outTradeNo}"/>
									<input type="hidden" name="subject" th:value="${alipayForm.subject}"/>
									<input type="hidden" name="body" th:value="${alipayForm.body}"/>
									<input type="hidden" name="price" th:value="${alipayForm.price}"/>
									<input type="hidden" name="showUrl" th:value="${alipayForm.showUrl}"/>
									<input type="hidden" name="commodityId" th:value="${alipayForm.commodityId}"/>
									<input type="hidden" name="guestId" th:value="${alipayForm.guestId}"/>
									<input type="hidden" name="count" th:value="${alipayForm.count}"/>
									<div class="about_wrapper">
										<h1>
											<span th:text="您现在是匿名购买该商品，请认真填写以下每项内容以保证商品能够顺利到达您的手中。"></span>
											<br/>
												<span th:if="${#fields.hasErrors('${alipayForm.*}')}"><span th:errors="${alipayForm.*}"></span></span>
										<span th:text="${message}"></span>
										</h1>
									</div>
									
									<div class="section group">
										<div class="col span_2_of_c">
											<div class="contact-form">
												<h3>订单信息</h3>
												<div>
													<span><label>商品信息</label></span> <span th:text="${alipayForm.body}"></span>
												</div>
												<div>
													<span><label>价格</label></span> <span th:text="${alipayForm.price}"></span>
												</div>
												<div>
													<span><label>收货人姓名<span style="display:inline;color:red;">*</span></label></span> <span><input
														name="receiveName" type="text" /></span>
												</div>
												<div>
													<span><label>收货人地址<span style="display:inline;color:red;">*</span></label></span> <span><input
														name="receiveAddress" type="text" /></span>
												</div>
												<div>
													<span><label>收货人邮编<span style="display:inline;color:red;">*</span></label></span> <span><input
														name="receiveZip" type="text" /></span>
												</div>
												<div>
													<span><label>收货人电话号码<span style="display:inline;color:red;">*</span></label></span> <span><input
														name="receivePhone" type="text" /></span>
												</div>
												<div>
													<span><label>收货人手机号码<span style="display:inline;color:red;">*</span></label></span> <span><input
														name="receiveMobile" type="text" /></span>
												</div>
											</div>
										</div>
										<div class="clear"></div>
									</div>
									<button class="button"><span>登录支付宝结账</span></button>
								</form>
							</div>
							<div class="clear"></div>
							<div class="navgation-links">
								<a name="Menu"> </a>
								<div th:replace="mobile/topBar :: page-top-bar"></div>
							</div>
							<div class="footer-bottom">
								<div class="copy">
									<div th:replace="mobile/copyRight ::page-copy-right"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>