<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>好农易商城</title>
<link href="shop/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<span th:if="${#strings.isEmpty(session.UVO.guestName)}">
	<meta http-equiv="REFRESH" content="0;url=initGuestLogin"/>
</span>

<script src="shop/js/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("#submitAlipay").click(function(){
		alipayForm.target = "newWindow";
		var win = window.open("about:blank", "newWindow");
		win.focus();
		alipayForm.submit();
		window.location.href="initGoods?type=liangshi";
	});
});

</script>
<link rel="shortcut icon" href="shop/images/pic28.jpg"/>
<link rel="Bookmark" href="shop/images/pic28.jpg"/>
</head>
<body>
	<div class="header-bg">
		<div class="wrap">
			<div class="h-bg">
				<div class="total">
					<div class="header">
						<div class="box_header_user_menu">							
							<div th:replace="shop/userBar :: page-user-bar"></div>
						</div>
						<div class="clear"></div>
						<div class="header-bot">
							<div th:replace="shop/logo :: page-logo"></div>
						<div class="clear"></div>
						</div>
					</div>
					<div class="menu">
						<div th:replace="shop/topBar :: page-top-bar"></div>
					</div>
					<div class="banner-top">
						<div class="header-bottom">
							<div class="header_bottom_right_images">					
								<form name="alipayForm" th:object="${alipayForm}" action="alipaySubmit" method="post">
									
									<input type="hidden" name="outTradeNo" value="" th:value="${alipayForm.outTradeNo}"/>
									<input type="hidden" name="subject" value="" th:value="${alipayForm.subject}"/>
									<input type="hidden" name="body" value="" th:value="${alipayForm.body}"/>
									<input type="hidden" name="price" value="" th:value="${alipayForm.price}"/>
									<input type="hidden" name="showUrl" value="" th:value="${alipayForm.showUrl}"/>
									<input type="hidden" name="receiveName" value="" th:value="${alipayForm.receiveName}"/>
									<input type="hidden" name="receiveAddress" value="" th:value="${alipayForm.receiveAddress}"/>
									<input type="hidden" name="receiveZip" value="" th:value="${alipayForm.receiveZip}"/>
									<input type="hidden" name="receivePhone" value="" th:value="${alipayForm.receivePhone}"/>
									<input type="hidden" name="receiveMobile" value="" th:value="${alipayForm.receiveMobile}"/>
									<div class="about_wrapper">
										<h1>
											该支付信息取自您登录的个人信息，请确认，如果有问题请您修改您的个人信息。
										</h1>
									</div>
									
									<div class="about-top">
										<div class="grid span_2_of_3">
											<h3  th:text="${alipayForm.outTradeNo}"></h3>
											<p>订单名称:<span th:text="${alipayForm.subject}"></span></p>
											<p>订单描述:<span th:text="${alipayForm.body}"></span></p>
											<p>付款金额:<span th:text="${alipayForm.price}"></span></p>
											<p>商品展示地址：<span th:text="${alipayForm.showUrl}"></span></p>
											<p>收货人姓名：<span th:text="${alipayForm.receiveName}"></span></p>
											<p>收货人地址：<span th:text="${alipayForm.receiveAddress}"></span></p>
											<p>收货人邮编：<span th:text="${alipayForm.receiveZip}"></span></p>
											<p>收货人电话号码：<span th:text="${alipayForm.receivePhone}"></span></p>
											<p>收货人手机号码：<span th:text="${alipayForm.receiveMobile}"></span></p>
										</div>
										<div class="clear"></div>
									</div>
									<div class="clear"></div>
									<input type="button" id="submitAlipay" class="button" value="登录支付宝结账" />
								</form>
							</div>
							<div class="header-para">
								<div th:replace="shop/rightBar :: page-right-bar"></div>
							</div>
							<div class="clear"></div>
							<div class="footer-bottom">
							<div class="copy">
								<div th:replace="shop/copyRight :: page-copy-right"></div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
					
</body>
</html>