<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>好农易</title>
	<link href="css1/bootstrap.min.css" rel="stylesheet"/>
	<link href="css1/style.css" rel="stylesheet"/>
	<!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="top">
		<div th:replace="shop/topBar :: page-top-bar"></div>
	</div>
	<!-- top over -->

	<div class="header">
	<div th:replace="shop/header :: page-header"></div>
	</div>
	<!-- header over -->

	<div class="navBox yh">
		<div th:replace="shop/menu :: page-menu"></div>
	</div>
	<!-- nav over -->

	<div class="container main">
		<p class="breadNav"><a href="#">首页</a><i>&gt;</i>个人中心</p>

		<div class="row">
			<div class="col-md-2 ceterL">
				<ul class="centerMenu cf ">
					<li ><a href="order">我的订单</a><i></i></li>
					<li class="curr"><a href="initCart">我的购物车</a><i></i></li>
					<li><a href="initReceive">地址管理</a><i></i></li>
				</ul>
			</div>
			
			<div class="col-md-10 ceterR">
				<ul class="progressBar cf mt15">
					<li class="curr"><i class="yh">1</i>我的购物车</li>
					<li class="curr"><i class="yh">2</i>填写收货地址并支付</li>
					<li class="curr"><i class="yh">3</i>下单成功</li>
				</ul>
			    <div class="buySuccess tc">
					<i class="ico-succ"></i>
					<h4 class="regTips yh">恭喜您，购买成功！</h4>
					<p class="yh">您的订单编号为：<i class="red" th:text="${returnForm.out_trade_no}"></i></p>
				</div>
				<!-- 购买成功 -->
			    
			</div>
		</div>
		
		
	</div>
	<!-- 个人中心 over -->

	<footer class="foot mt20 tc">
		<div th:replace="mobile/footer :: page-footer"></div>
	</footer>
	<!--footer over  -->

	<script src="js1/jquery-1.11.3.min.js"></script>
	<script src="js1/bootstrap.min.js"></script>
	<script src="js1/jquery-latest.min.js"></script>
	<script src="js1/unslider.min.js"></script>
	<script src="js1/jquery.event.move.js"></script>
	<script src="js1/jquery.event.swipe.js"></script>
	<script src="js1/comm.js"></script>
</body>
</html>