<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>好农易商城</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="mobile/css/style.css" type="text/css"
	media="all" />
</head>
<body>
	<div class="wrap">
		<div class="header-bg">
			<div class="h-bg">
				<div class="total">
					<div class="header">
						<div class="box_header_user_menu">
					 		<div th:replace="mobile/userBar :: page-user-bar"></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="header-bot">
						<div th:replace="mobile/logo :: page-logo"></div>
						<nav class="clearfix"> <a href="#Menu">Menu<img
							class="menu" src="mobile/images/nav-icon.png" title="Menu" /></a>
						</nav>
					</div>
					<div class="header-bottom">
						<div class="banner-top">
							<div class="header_bottom_right_images">
								<form name="specialForm" th:object="${specialForm}" action="specialAlipaySubmit"
									method="post">
									<input type="hidden" name="outTradeNo" th:value="${specialForm.outTradeNo}"/>
									<input type="hidden" name="subject" th:value="${specialForm.subject}"/>
									<input type="hidden" name="body" th:value="${specialForm.body}"/>
									<input type="hidden" name="price" th:value="${specialForm.price}"/>
									<input type="hidden" name="showUrl" th:value="${specialForm.showUrl}"/>
									<input type="hidden" name="commodityId" th:value="${specialForm.commodityId}"/>
									<div class="about_wrapper">
										<h1>
											这是一个促销商品的订单，该商品只有一件，且每被转发一次就会降价0.5元，随时会被别人拍走，请认真填写以下每项内容以保证商品能够顺利到达您的手中。
											<br/>
											<span th:errors="${specialForm.*}"></span>
										<span th:text="${message}"></span>
										</h1>
									</div>
									
									<div class="section group">
										<div class="col span_2_of_c">
											<div class="contact-form">
												<h3>订单信息</h3>
												<div>
													<span><label>商品信息</label></span> <span th:text="${specialForm.body}"></span>
												</div>
												<div>
													<span><label>价格</label></span> <span th:text="${specialForm.price}"></span>
												</div>
												<div>
													<span><label>收货人姓名<span style="display:inline;color:red;">*</span></label></span> <span><input
														name="receiveName" type="text" /></span>
												</div>
												<div>
													<span><label>收货人地址<span style="display:inline;color:red;">*</span></label></span> <span><input
														name="receiveAddress" type="text" /></span>
												</div>
												<div>
													<span><label>收货人邮编<span style="display:inline;color:red;">*</span></label></span> <span><input
														name="receiveZip" type="text" /></span>
												</div>
												<div>
													<span><label>收货人电话号码<span style="display:inline;color:red;">*</span></label></span> <span><input
														name="receivePhone" type="text" /></span>
												</div>
												<div>
													<span><label>收货人手机号码<span style="display:inline;color:red;">*</span></label></span> <span><input
														name="receiveMobile" type="text" /></span>
												</div>
											</div>
										</div>
										<div class="clear"></div>
									</div>
									<div th:if="${specialForm.stock}> 0">
										<button class="button"><span>生成支付宝订单</span></button>
									</div>
									
								</form>
							</div>
							<div class="clear"></div>
							<div class="navgation-links">
								<a name="Menu"> </a>
							 	<div th:replace="mobile/topBar :: page-top-bar"></div>  
							</div>
							<div class="footer-bottom">
								<div class="copy">
									<div th:replace="mobile/copyRight :: page-copy-right"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>